// menu reset
.side-menu-wrapper {
    .ivu-icon, span {
        font-size: 16px;
    }
}

// iview-table
.ivu-table-wrapper {
    .ivu-table-header {
        thead {
            th {
                font-size: 14px;
            }
        }
    }

    .ivu-table-body {
        tbody {
            td {
                font-size: 14px;
            }
        }
    }
}

// ivu-tree
.ivu-tree {
    .ivu-tree-title {
        font-size: 14px;
    }

    .ivu-icon {
        font-size: 14px;
    }
}

// element-table
.element-table {
    .el-table__header-wrapper {
        thead {
            th {
                font-size: 14px;
            }
        }
    }

    .el-table__body-wrapper {
        tbody {
            td {
                font-size: 14px;
            }
        }
    }
}

// ivu-form ivu-form-item
.ivu-form {
    .ivu-form-item {
        .ivu-form-item-label {
            font-size: 14px;
        }
    }
}